.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App img {
  height: 40vmin;
  /*width: 40vmin;*/
  margin: 20%;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius:  50px 50px 50px 50px;
  position: relative;

}
.App .col{
  margin-top: 2%;
  width: 75%;
  margin-left: 18%;

}

.card{
  width:60%;
  border : 1px solid  /*#2bc4ff*/;
  /*border-width: 20px 5px;*/
 
}
@media only screen and (max-width:480px){

 .App .col{
  margin-top: 2%;
  width: 90%;
  margin-left: 7%;

}
.card{
  width:90%;
  border : 1px solid  /*#2bc4ff*/;
  /*border-width: 20px 5px;*/
 
}
h1{
  font-size: 27px;
}



  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
