.div{
	/*border: 2px solid;*/
	display: flex;
	padding: 1%;
	border: 1px solid;
	margin:1%;
	height: 100%;
	
}
.card1{
	padding: 2%;
	padding-left:7%;
	width:33%;
	overflow:hidden;
	word-wrap: break-word;
	margin-top: 9%;
	height: 100%;
	
}
.card2{
	margin-top: 1%;
	padding:2%;
	width:67%;
	overflow:hidden;
	word-wrap: break-word;
	height: 100%;	
}
.card1 img{
	width: 55%;
	height: 23%;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15%;
	position: relative;
}

.text p{
	margin-bottom:7%;
}
h6{
	margin-bottom:7%;

}
b{
	background-color: #26d7ff;
	color: black;
}
.table{
	table-layout: fixed; 
	width: 100%;
	overflow:hidden;
	word-wrap: break-word;

}

h4{
	margin-bottom:2%; 
}

/*mobile view*/
@media only screen and (max-width:480px){

.div{
	display: block;
	padding: 2%;
	
}
.card1{
	/*padding-left:7%;
	padding: 2%;*/
	width:100%;
	overflow:hidden;
	word-wrap: break-word;
	/*margin-top: 9%;*/
	
}
.card2{
	margin-top: 7%;
	padding:2%;
	width:100%;
	overflow:hidden;
	word-wrap: break-word;	
}
.card1 img{
	width: 35%;
	/*height: 6%;*/
	margin-left: 27%;
	margin-top:0;
	margin-bottom: 0;
	
}
.text{
	padding-left:10%;
	margin-top: 9%;


}

.text p{
	margin-bottom:4%;
}
h6{
	margin-bottom:4%;

}
}

/*Tablet view*/
@media only screen and (min-width:481px) and (max-width:768px){

.div{
	display: block;
	padding: 2%;
	
}
.card1{
	/*padding-left:7%;
	padding: 2%;*/
	width:100%;
	display: flex;
	overflow:hidden;
	word-wrap: break-word;
	margin:0;
	/*margin-top: 9%;*/
	
}
.card2{
	margin-top: 4%;
	padding:2%;
	width:100%;
	overflow:hidden;
	word-wrap: break-word;	
}
.card1 img{
	width: 19%;
	/*margin-top:0;
	margin-bottom: 0;
	margin-left: 10%;*/
	margin:0;
	margin-left: 10%;
	padding: 0;
	
}
.text{
	/*padding-left:2%;*/
	margin: 0;
	margin-left: 10%;
	margin-top:6%;
	padding: 0;


}

.text p{
	margin-bottom:4%;
}
h6{
	margin-bottom:4%;

}
}